.jobs-page {
  padding: 20px;
}

.jobs-section {
  margin-bottom: 20px;
}

.jobs-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-box {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.job-box-content {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.icons {
  margin-right: 10px;
}

.job-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  
}

.job-content-left {
  display: flex;
  flex-direction: column;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
}

.job-company {
  font-size: 16px;
  color: #666;
}

.job-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.job-salary {
  font-size: 16px;
  color: #333;
}

.job-status {
  font-size: 14px;
  color: green;
  display: flex;
  align-items: center;
}

.job-status .fa-arrow-up {
  margin-right: 5px;
}

.stat-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
