
.main-layout1 {
  display: flex;
  flex: 1; /* Take remaining space */
}

.content1 {
  flex: 1; /* Take remaining space */
  margin-left: 17%; /* Optional: Add padding for content */
  background-color: #f8f8f8;
}
