.App{
  width: 100%;
}
.main-layout1 {
  display: flex;
  flex: 1; 
}

.content1 {
  flex: 1; /* Take remaining space */
  margin-left: 17%; /* Optional: Add padding for content */
  background-color: #FEFCFF;
}
